body,
html {
 width:100%;
 height:100%
}

body {
  margin:0;
  padding:0;
  background: #fafafa;
  color: #333333;
  margin-top: 5rem;
  font-family:Roboto;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

ul {
  margin: 0;
}

.inv-main-info {
    position: relative;
    display: inline-block;
    width: 21.5%;
    height: 50%;
    left: 116px;
    top: 125px;
}

.inv-main-stat {
    position: relative;
    display: inline-block;
    width: 70%;
    height: 50%;
    left: 100px;
    top: 140px;
}

.bg-investigator {
    position: fixed;
    display: flex;
    width: 100%;
    height: 100%;
    background-image: url(../images/charsheet_CoC_RU-1.png);
    background-position: 10% 5%;
    background-size: 90%;
    background-repeat: no-repeat;
}

.list-group-horizontal .list-group-item {
    display: inline-block;
}
.list-group-horizontal .list-group-item {
    margin-bottom: 0;
    margin-left:-4px;
    margin-right: 0;
    border-right-width: 0;
}
.list-group-horizontal .list-group-item:first-child {
    border-top-right-radius:0;
    border-bottom-left-radius:4px;
}
.list-group-horizontal .list-group-item:last-child {
    border-top-right-radius:4px;
    border-bottom-left-radius:0;
    border-right-width: 1px;
}

.bg-blue {
  background-color: #6699cc;
}

.bg-grey {
  background-color: #696969;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

.investigator-heading {
  font-size: 2.5rem;
}

footer {
 position: sticky!important;
 top: 100%;
 padding-top:25px;
 padding-bottom:25px;
 border-top:1px solid #ddd;
}

footer p {
 margin:2px;
 text-align:center;
 padding:0 40px;
 color:#fff;
 font-size:12px;
}

footer a{
  color:#777
}

footer a:hover {
  color:#777;
  text-decoration: none;
}
