{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="bg-investigator">
        <div class="inv-main-info">
            <b style="position: relative; left: 55px; top: 10px;">Name</b>
            <b style="position: relative; left: 25px; top: 43px;">PlayerName</b>
            <b style="position: relative; top: 77px;">Profession</b>
            <b style="position: relative; left: -100px; top: 110px;">31</b>
            <b style="position: relative; top: 110px;">M</b>
            <b style="position: relative; top: 130px;">City</b>
        </div>
        <div class="inv-main-stat">
            <b>Test</b>
        </div>
    </div>

{% endblock %}